.content-2 {
  display: flex;
  padding: 100px;
  height: 515px;
  background-color: #ba90c6;
}
.fluid-nft-image {
  width: 450px;
  height: 400px;
  margin-right: 20px;
  /* padding-right:20px ; */
}
.get-started-btn {
  padding: 5px;
  width: 200px;
  font-family: "Bruno Ace", cursive;
  font-family: "Monomaniac One", sans-serif;
  font-size: 30px;
  color: #002e94;
  background-color: #e1ceb5;
  border-radius: 5px;
}
.get-started-btn:hover {
  color: white;
  background-color: #4136b4;
}
.how-it-work-content {
  font-family: "Bruno Ace", cursive;
  font-family: "Monomaniac One", sans-serif;
  font-size: 28px;
}
.how-it-work-title {
  font-family: "Bruno Ace", cursive;
  font-family: "Monomaniac One", sans-serif;
  font-size: 48px;
  color: #2b3467;
}
